## Ignore Visual Studio temporary files, build results, and SQLite local databases
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Ob]j/
.vs/
*.user
*.db
*.db-shm
*.db-wal
gerar-prompt.ps1
prompt_contexto_ia.txt